/* Global Styllings */

/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,300&family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap');

/* Color Theme Swatches in Hex */
.eeQuo-Bright-1-hex {
    color: #022601;
}

.eeQuo-Bright-2-hex {
    color: #3D7345;
}

.eeQuo-Bright-3-hex {
    color: #8FBF93;
}

.eeQuo-Bright-4-hex {
    color: #FFFFFF;
}

.eeQuo-Bright-5-hex {
    color: #000000;
}

/* Color Theme Swatches in RGBA */
.eeQuo-Bright-1-rgba {
    color: rgba(2, 38, 1, 1);
}

.eeQuo-Bright-2-rgba {
    color: rgba(61, 115, 69, 1);
}

.eeQuo-Bright-3-rgba {
    color: rgba(143, 191, 147, 1);
}

.eeQuo-Bright-4-rgba {
    color: rgba(255, 255, 255, 1);
}

.eeQuo-Bright-5-rgba {
    color: rgba(0, 0, 0, 1);
}

/* Color Theme Swatches in HSLA */
.eeQuo-Bright-1-hsla {
    color: hsla(118, 94, 7, 1);
}

.eeQuo-Bright-2-hsla {
    color: hsla(128, 30, 34, 1);
}

.eeQuo-Bright-3-hsla {
    color: hsla(124, 27, 65, 1);
}

.eeQuo-Bright-4-hsla {
    color: hsla(0, 0, 100, 1);
}

.eeQuo-Bright-5-hsla {
    color: hsla(0, 0, 0, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: #000000;

    /* Create grit templete the main sections */
    max-width: 100%;
    display: grid;
    /* Grid for small and medium screens */
    grid-template-columns: 1fr;
    gap: 5px;
}

/* Heading text styling */
h1,
h2,
h3,
h4 {
    font-family: Roboto, sans-serif;

}

h1 {
    font-weight: 900;
    font-size: 1.7rem;
}

h2 {
    font-weight: 700;
    font-size: 1.5rem;
}

h3 {
    font-weight: 500;
    font-size: 1.4rem;
}

h4 {
    font-weight: 500;
    font-size: 1.4rem;
    font-style: italic;
}

/* Remove bullets in list items */
li {
    list-style: none;
}

.branding-cnt {
    background-color: #3D7345;
    border: 1px solid #000000;
}

.hamburger-ctn {
    background-color: #3D7345;
    border: 1px solid #000000;
    /* Move toggle menu to right */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.menu-section {
    background-color: #3D7345;
    border: 1px solid #000000;
    /* Vertical bar for menu and news search */
    min-height: 100vh;
    width: 300px;
    padding: 2rem 0 2rem 1rem;
    top: 0;
    left: -300px;
    transition: 0.2s linear;
    position: absolute;

}

/* Get the vetical navigation diplayed on click on toggle button */
.menu-section.is-active {
    left: 0;
}

.nav-item {
    padding: 1rem 1rem;
    transition: 0.5s ease-out;
}

/* remove link text stlying */
.nav-link {
    color: white;
    text-decoration: none;
}

.news-search-form {
    padding: 1rem 1rem;
    text-decoration: none;
    transition: 0.5s ease-out;
}

/* Styling hover effect and active item */
.nav-item:hover,
.nav-item.is-active {
    color: #000000;
    background-color: #8FBF93;
}

/* Create and style hamburger menu */
.menu-toggle {
    width: 45px;
    height: 45px;
    background-color: black;
    cursor: pointer;
}

/* set the position of the hamburger bars */
.hamburger {
    position: relative;
    top: 20%;
}

/* Style hamburger horizantal bars */
.bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #FFFFFF;
    margin: 5px auto;
    transition: all 0.5x ease;
}

/* Stlye for toggle effect */
.menu-toggle.is-active .bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    transition: 0.3s;
    background-color: white;
}

.menu-toggle.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    transition: 0.3s;
    background-color: white;
}

.news-ctn {
    background-color: #3D7345;
    border: 1px solid #000000;

}

.footer-ctn {
    background-color: #3D7345;
    border: 1px solid #000000;
}

/* Style for larger screens */
@media(min-width:1024px) {

    body {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 10px;
    }

    .branding-cnt {
        grid-column: 1/6;
    }

    .hamburger-ctn {
        display: none;
    }

    .menu-toggle {
        display: none;
    }

    .menu-section {
        left: 0px;
        position: relative;
        grid-column: 1/1;
    }

    .news-ctn {
        grid-column: 2/6;
    }

    .footer-ctn {
        grid-column: 1/6;
    }

}